// Colores
$primary-color: #82c0cc;
$secondary-color: #ff5d5d;
$background-color: #fff2f2;
$text-color-description: #3a3a3a;
$color-black: #0e0905;
$color-white: #ffffff;

// Tipografías
$font-varela: "Varela Round", sans-serif;

// Bordes
$border-radius-card: 16px;
$border-radius-button: 15px;

//Sombra
$box-shadow-card: 0 4px 8px rgba(0, 0, 0, 0.1);
